<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">
        <h2>Hero ka description</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>name</th>
                    <th>Age</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let h of hero">
                    <td>{{h.name}}</td>
                    <td>{{h.age}}</td>

                </tr>

            </tbody>
        </table>
    </div>
    <h2>child to parent demo</h2>
    <button class='btn btn-primary' (click)="changedValue()">Click me to say hi to parent</button>



    <div class="container">
        <h2>child ka description</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>child</th>


                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ch of child">
                    <td>{{ch}}</td>


                </tr>

            </tbody>
        </table>
           <input #addToParent placeholder="Add Child To parent">
        <button  (click)="addToParent(addToParent.value)">click me to add child to parent</button>
    </div>
</body>

</html>